.hero {
  display: flex;
  height: 764px;
}

.hero__title {
  margin: auto;
  font-family: IBM Plex Sans ;
  font-size: 179px;
  color: white;
  text-shadow: 3px 3px 20px #000000;
}

body {
  margin: 0;
}

.cards {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card__image {
  width: 700px;
  height: auto;
}

.card__title {
  text-decoration: none;
}